%% fail_on_warning,
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{erl_opts, [warn_export_all,
  warn_unused_import,
  {i, "include"},
  {src_dirs, ["src"]}]}.

{sub_dirs, [
  "rel",
  "plugins/*/"]}.

{
  deps,
  [
    {esockd, "3.*", {git, "git://github.com/emqtt/esockd.git", {branch, "master"}}},
    {mochiweb, "4.*", {git, "git://github.com/emqtt/mochiweb.git", {branch, "master"}}}
  ]
}.